*{
    box-sizing: border-box;
    /* margin: 0; */
    font-size: 1.1rem;
    scroll-behavior: smooth;
}


/* HELPERS */

hr{
    border:  1px solid rgba(212, 210, 203, 0.836);
    margin:4px;
}

.flex{
    display:flex;
}

.flex-end{
    justify-content: flex-end;
}

.d-collumn{
    flex-direction: column;
}

.dr{
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.bold{
    font-weight: bold;
}

.no-bgc{
    background-color:none;
}

.black{
    color: black;
}

.padding-left{
    padding-left:2.5rem;
}

/* INSIDE NAV-BAR*/

.upper-mail-navbar{
    -webkit-align-items: center;
    align-items: center;
    border: none;
    /* display: -webkit-box;
    display: -webkit-flex; */
    display: flex;
    /* max-width:90rem; */
    margin: 1rem 0 1rem 1rem;
    height: 48px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    -webkit-transition: box-shadow .15s cubic-bezier(0.4,0.0,0.2,1);
    transition: box-shadow .15s cubic-bezier(0.4,0.0,0.2,1);
}

.upper-mail-navbar:hover{
    background-color: rgb(187, 133, 133, 0.5);
    border-radius: 12px;
    transition:0.7s;
}

.refresh{
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
    -webkit-transition: opacity .15s cubic-bezier(0.4,0.0,0.2,1);
    transition: opacity .15s cubic-bezier(0.4,0.0,0.2,1);
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 31px;
    cursor: pointer;
}

.mail-filter{
flex-direction: column;
}

/* APP MAIL PAGE*/

.big-container{
    max-width:90%;
}

.main-mail-page{
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.main-body{
    max-width: 70vw;
}


/* SIDE BAR*/

.left-nav-bar{ 
    width:18rem;
    max-height: 92vh;
    flex-direction: column;
    justify-items: left;
    margin: 1rem 0 1rem 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

.left-nav-bar:hover{
    background-color: rgb(187, 133, 133, 0.5);
    border-radius:12px;
    transition: 0.7s;
}

.left-nav-bar >*{
    cursor: pointer;
    border-bottom:  1.3px solid rgba(212, 210, 203, 0.836)
}

.compose{
    font-weight: 500;
    height: 3.3rem;
    padding: 0 8px 0 0;
    margin: 16px 0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    -webkit-font-smoothing: antialiased;
    letter-spacing: .25px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    font-weight: 500;
    min-width: 56px;
    overflow: hidden;
    padding: 0 0 0 24px;
    text-transform: none;
}

.left-nav-bar :not(:first-child){
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    height: 3.6rem;
    padding: 0 26px 0 12px;
    transition: margin .15s cubic-bezier(0.4,0.0,0.2,1),padding .15s cubic-bezier(0.4,0.0,0.2,1);
}

.left-nav-bar :not(:first-child):hover{
    height: 3.3rem;
    letter-spacing: .25px;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.856);
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    font-weight: 500;
    min-width: 56px;
    overflow: hidden;
    padding: 0 0 0 12px;
    text-transform: none;
}

/*MAIL LIST PAGE*/

.main-mail-container{
    margin: 1rem 0 1rem 1rem;
    border-left: 1.3px solid rgba(212, 210, 203, 0.836);
}

.main-mail-container:hover{
    background-color: rgb(187, 133, 133, 0.5);
    border-radius:12px;
    transition: 0.7s;
}

.mail-card{
    
}

.single-mail-component{
    padding-right: 1rem;
    cursor: pointer;
    padding-top: 10px;
    position: relative;
}

.single-mail-component:hover{
    background-color: rgba(219, 219, 219, 0.856);
    opacity: 0.7;
    transition: .1s;
    border-radius: 8px;
}


.sentFromUser{
    padding:0;
    width:35px;
    height: 32px;
    margin: 10px 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 1.7rem;
}

.sent-at{
    display: flex;
    justify-content: start;
    align-items: center;
    width:fit-content;
    padding-left:0.5rem;
    margin-right:3px;
}

.body-inbox{
    width:57rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 1.3px solid rgba(212, 210, 203, 0.836);
    padding-left: 1rem
}


.star-on{
    text-align: center;
    width: 40px;
    height: 40px;
    font-size:32px;
    color:gold;
    background-position: center;
    background-repeat: no-repeat;
}

.star-on:hover{
    padding:0;
    opacity: 1;
    background-color: rgb(240, 239, 239);
    border-radius: 50px;
}


.star-off
{
    text-align: center;
    font-size: 32px;
    width: 40px;
    height: 40px;
    color:rgb(228, 227, 227);
    background-position: center;
    background-repeat: no-repeat;
}

.star-off:hover{
 padding:0;
 opacity: 1;
 color:black;
 background-color: rgb(240, 239, 239);
 border-radius: 50px;
}

.trash{
    text-align: center;
    font-size: 32px;
    width: 40px;
    height: 40px;
    color:rgb(71, 71, 71);
    background-position: center;
    background-repeat: no-repeat;
}

.trash:hover{
    cursor: pointer;
    padding:0;
    opacity: 1;
    color:black;
    background-color: rgb(240, 239, 239);
    border-radius: 50px;
    text-align: center;
}

.open{
    font-weight: normal;
    width:16rem;
    border-right:  1.3px solid rgba(212, 210, 203, 0.836);
}

.close{
    font-weight: bold;
    width:16rem;
    border-right:  1.3px solid rgba(212, 210, 203, 0.836);
}

/* MAIL DETAILS PAGE*/

.main-details{
    flex-direction: column;
    background-color: rgba(204, 204, 204, 0.664);
    width:70vw;
    min-height: 70vh;
    border-radius: 12px;
    margin: 1rem 0 1rem 1rem;
}

.main-details >*{
    display: flex;
}

.small-icons{
    justify-content: flex-end;
    border:none;
}

.sent-at{
    align-items: center;
}

.sent-from-details{
    flex-direction: column;
    padding-left: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom:  1.3px solid rgba(212, 210, 203, 0.836);
}

.sent-from-details >*{
    /* flex-direction: column; */
    padding-right: 10px;
    height: 3rem;
    font-size: 1.5rem;
    width:fit-content;
    margin-bottom: 1rem;
}
.sent-from-user{
    padding:0;
    width:35px;
    height: 32px;
    margin: 8px 0;
    border-radius: 50px;
    text-align: center;
    font-size: 1.6rem;
    background-color: gold;
}

.subject-details{
    font-size: 2rem;
}

.sent-from{
    width:30px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 50px;
    text-align: center;
}

.user-full-name{
    width:fit-content;
    height: 32px;
    align-self: center;
    font-size: 1.5rem;
    margin: 10px 10px;
    align-self: baseline;
}

.subject{
    border-right:  1.3px solid rgba(212, 210, 203, 0.836);
    padding: 20px 72px 8px 0;
    align-items: center;
}

.body-details{
    border:none;
    padding-left :2.5rem;
}

.body{
    padding-left :2.5rem;
}

.fa-pencil-alt:before {
    content: "\f303";
    font-size: 25px;
    padding-right: 1rem;
}

.fa-pencil-alt:hover{
    color:gold;
    transition:0.5s;
}

/*MAIL-REPLY*/

.main-Replay{
    flex-direction: column;
    background-color: rgba(173, 137, 180, 0.422);
    width: 90rem;
    max-height: 32rem;
    border-top:  1.3px solid rgba(212, 210, 203, 0.836);
}

.text-area{
    width:100%;
    min-height: 18rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(219, 219, 219, 0.856);
}

.fa-times:before {
    cursor: pointer;
    content: "\f00d";
    font-size: 25px;
    padding-right: 1rem;
}

.fa-times:hover{
color:gold;
transition:0.5s;
}

.fa-paper-plane:before {
    cursor: pointer;
    content: "\f1d8";
    font-size: 25px;
    padding-right: 1rem;
}

.fa-paper-plane:hover{
    color:gold;
transition:0.5s;
}

/* ADD-MAIL */

.add-mail-container{
    background-color:rgb(187, 133, 133, 0.5);
    max-height: 85vh;
    width:70vw;
    border-top:  1.3px solid rgba(212, 210, 203, 0.836);
    margin: 1rem 0 1rem 1rem;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.add-mail-container input{
    background-color: rgba(212, 210, 203, 0.836);
    font-family: Arial, Helvetica, sans-serif;
    width:80%;
    font-size: 1.5rem;
    min-height: 2.5rem;
    margin-left: 2rem;
    border:none;
}

.add-mail-container textarea{
    background-color: rgba(212, 210, 203, 0.836);
    font-family: Arial, Helvetica, sans-serif;
    width:80%;
    font-size: 1.5rem;
    min-height: 2.5rem;
    margin-left: 2rem;
    outline: none;
}

.add-mail-container textarea:focus{
    outline:none;
    border:none;
}
.add-icons{
    display:flex;
    margin-left: 30px;
}

.email-add{
    margin-top:5px;
}

@media (max-width: 1100px){
    .body-inbox{
        width:fit-content;
    }
}

@media(max-width: 650px){
    *{
        width: fit-content;
    }
}