*{
    box-sizing: border-box;
    /* margin: 0; */
    font-size: 1.3rem;
}

/* INSIDE NAV-BAR*/

.upper-mail-navbar{
    -webkit-align-items: center;
    align-items: center;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 48px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 0 0 16px!important;
    padding: 0 16px 0 16px;
    -webkit-transition: box-shadow .15s cubic-bezier(0.4,0.0,0.2,1);
    transition: box-shadow .15s cubic-bezier(0.4,0.0,0.2,1);
}

/* MAIN PAGE*/
.main-mail-page{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%!important;
    -webkit-flex-direction: row;
    flex-direction: row;
}


/* SIDE BAR*/

.left-nav-bar{
    width:18rem;
    height: 44.5rem;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.compose{
    height: 3.3rem;
    padding: 0 8px 0 0;
    margin: 16px 0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 500;
    min-width: 56px;
    overflow: hidden;
    padding: 0 0 0 24px;
    text-transform: none;
}

.left-nav-bar :not(first-child){
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    height: 32px;
    padding: 0 26px 0 12px;
    transition: margin .15s cubic-bezier(0.4,0.0,0.2,1),padding .15s cubic-bezier(0.4,0.0,0.2,1);
}

/*MIAN MAIL AREA*/

.main-mail-container{
    height: 38rem;
    width: 100%;
}

.single-mail-component{
    padding-right: 1.5rem;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.subject

.sent-at-inbox{
    flex-grow: 1;
    display: flex;
    justify-content: start;
}

.body-inbox{
    flex-grow: 4;
    display: flex;
    justify-content: start;
}

.open{
    font-weight: normal;
}

.close{
    font-weight: bold;
}

/* details mail page */

.main-details{
    background-color: #fff;
    height: 38rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.main-details >*{
    display: flex;
    border-bottom: 1px solid #3c4043;
}
.sent-at{
    align-items: center;
    flex-grow: 1;
}

.subject{
    padding: 20px 72px 8px 0;
    align-items: center;
    flex-grow: 1;
}

.body{
    flex-grow:4;
    padding-left :2.5rem;
}