

.note-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    width: auto;
    margin-left: 10px;
    border-radius: 7px 7px 0px 0px;
    transition: opacity 2s;
}

.control{
    background: #ffffff;
    opacity: 85%;
    padding:10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.notes-container {
    display: grid;
    object-fit: contain;
    padding:10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;

    /* display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content:space-between;
    column-gap: .25em;
    column-count: 4;
    vertical-align: baseline;
    min-width: 95vw;
    padding-right: 1em;
    padding-top:1em;
    overflow: hidden; */
}

.note-card img {
    width: 100%


}

.aaa {
    background: #72c588;
}

.bbb {
    background: #2d88d3;
}

.ccc {
    background: #d32daf;
}

.ddd {
    background: #b063dd;
}

.eee {
    background: #dda863;
}