.note-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-left: 10px;
    border-radius: 7px 7px 0px 0px;
    transition: opacity 2s;
    overflow: hidden;
    transition: .3s;
}

.notes-container {
    display: grid;
    object-fit: contain;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    transition: .3s;
    /* display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content:space-between;
    column-gap: .25em;
    column-count: 4;
    vertical-align: baseline;
    min-width: 95vw;
    padding-right: 1em;
    padding-top:1em;
    overflow: hidden; */
}

.note-card img {
    width: 100%
}

.aaa {
    background: #72c588;
}

.bbb {
    background: #85bae6;
}

.ccc {
    background: #e779cf;
}

.ddd {
    background: #bc94e2;
}

.eee {
    background: #eccd76;
}

.fff {
    background-color: #777777;
}

.ggg {
    background-color: #000000;

}

.pick {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.add-item-bar {
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #777777;
    width: 80%;
    padding: 7px;
    box-shadow: 0 1px 2px 0 rgba(173, 183, 190, 0.3), 0 2px 6px 2px rgba(103, 108, 112, 0.15);
}

.add-item-bar input {
    border: none;
    width: 100%;
}

input:focus {
    border: 0;
    outline: none;
}

.create-type {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.list-in-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    transition: .3s;
}

.space {
    height: 20px;
}

.btn {
    color: #00000099;
    cursor: pointer;
}

.btn:hover {
    color: #ff0000;
    transition: .3s;
}

.control {
    position: relative;
    background: #ffffff;
    opacity: 85%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: .3s;
}

.colorModal {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
    background: #ffffff;
    /* box-shadow: 0 1px 2px 0 rgba(173, 183, 190, 0.3), 0 2px 6px 2px rgba(103, 108, 112, 0.15); */
    transition: .1s;
}

.color-hide {
    bottom: -44px;
    transition: .1s;
}

.color-show {
    bottom: 2px;
    transition: .1s;
}

.set-type-btn {
    background-color: #ffffff00;
    border: 0;
}

.set-type-btn:focus {
    outline: none;
}

.pin-on {
    color: #ff8800;
}

.pin-off {
    color: #00000099;

}

.list-input input{
    border:0px;
    background-color: #ffffff77;
    border-radius: 10px;
}

@media(max-width: 650px) {
    .add-item-bar {
        width: 100%;
    }
}